PORT=8080
ENV=development
OIDC_GOOGLE_CLIENT_ID=your-client-id
DATABASE_HOST=db
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_NAME=example
DATABASE_SSLMODE=disable
SERVER_URL=https://localhost/api
FRONTEND_URL=https://localhost
YOUTUBE_DATA_API_KEY=your-api-key
ADMIN_API_KEY=your-admin-api-key
GEMINI_API_KEY=your-api-key
DISCORD_WEBHOOK_URL=your-webhook-url
REDIS_URL=your-redis-url
